html {
  font-size: 62.5%;
}

th {
  text-align: right;
  background-color: rgb(170, 170, 170);
  color: white;
  padding: 1.5rem 0.5rem;
  font-size: 2rem;
}

table, th, td {
  border: 1px solid rgb(190, 190, 190);
  border-collapse: collapse;
}

td {
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  background-color: rgb(230, 230, 230);
  font-weight: 600;
  text-align: center;
}

td:last-child {
  background-color: rgb(230, 149, 0);
}