html {
  font-size: 62.5%;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
}

section {
  margin-top: 5rem;
}

th {
  text-align: right;
  background-color: rgb(170, 170, 170);
  color: white;
  padding: 2rem 0.5rem;
  font-size: 2.2rem;
}

table,
th,
td {
  border: 1px solid rgb(190, 190, 190);
  border-collapse: collapse;
}

td {
  background-color: rgb(230, 230, 230);
  font-weight: 600;
  text-align: center;
}

td:last-child {
  background-color: rgb(230, 149, 0);
}

button {
  background: none;
  border: none;
  font-size: 1.4rem;
  padding: 2rem 3.8rem;
}

.quote {
  font-size: 2.2rem;
}
