* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3rem 5rem;
}

header,
ul,
.calculator-page {
  display: flex;
  justify-content: space-between;
}

header,
h2 {
  margin-bottom: 4rem;
}

h2 {
  font-weight: 500;
}

.calculator-page > h2 {
  color: #1a1a1a;
}

p {
  margin-bottom: 2rem;
}

ul {
  gap: 3rem;
}

li {
  list-style: none;
}

ul > li:nth-child(2) {
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 0 2rem;
}

a {
  color: blue;
}

th {
  text-align: right;
  background-color: rgb(170, 170, 170);
  color: white;
  padding: 2rem 0.5rem;
  font-size: 2.2rem;
}

table,
th,
td {
  border: 1px solid rgb(190, 190, 190);
  border-collapse: collapse;
}

td {
  background-color: rgb(230, 230, 230);
  font-weight: 600;
  text-align: center;
}

td:last-child {
  background-color: rgb(230, 149, 0);
}

button {
  background: none;
  border: none;
  font-size: 1.4rem;
  padding: 3rem 9.8rem;
}

.quote {
  font-size: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
}
